/*
COLOUR

#3F681C  - green
#FFBB00 - yellow
#FB6542 - red
#375E97 - blue

*/

body{
	margin: 0;
}

a:hover{
	animation: ease-in-out;
	color: white;
}

/*--- */

.mainContainer{
	background-color: #FB6542;
	display:grid;
	grid-template-columns:10% auto auto auto 10%;
	width: 100%;
	
}

.logo{
	grid-column-start: 3;
	grid-column-end: 3;
	height: 400px;
	width: auto;
	text-align: center;
}

#svgLogo{
	margin-top:1%;
	background-image:url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3C!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1920 1080' style='enable-background:new 0 0 1920 1080;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0{fill:%239B9B9B;} .st1{fill:%23F44336;} .st2{fill:%23FF9800;} .st3{fill:%23FFEB3B;} .st4{fill:%234CAF50;} .st5{fill:%232196F3;} .st6{fill:%233F51B5;} .st7{fill:%23673AB7;} .st8{fill:none;stroke:%23FB6542;stroke-width:22;stroke-miterlimit:10;} %3C/style%3E%3Cg%3E%3Cpath d='M87.2,799.4v-5l25.4-12.6V609.2l-25.4-12.6v-5h84.2c14,0,26.6,1.7,37.7,5.2c11.2,3.5,19.9,8.6,26.3,15.4 c6.4,6.8,9.5,15.5,9.5,26c0,10.7-3.7,20.5-11,29.4c-7.3,8.9-17.8,15.3-31.6,19.1c19,2.5,33.9,8.3,44.6,17.5 c10.7,9.1,16.1,20.7,16.1,34.8c0,11.5-3.7,21.9-11,31c-7.3,9.1-17.3,16.3-30.1,21.6c-12.7,5.2-27.2,7.9-43.5,7.9H87.2z M162.4,608.9h-16.9v74.9h18.5c14.8,0,26.3-3.3,34.4-9.8c8.1-6.5,12.2-15.4,12.2-26.8C210.6,621.7,194.5,608.9,162.4,608.9z M173.9,700.6h-28.5v81.6h30.7c16.1,0,28.7-3.8,38-11.5c9.3-7.7,13.9-17.5,13.9-29.4c0-14.1-4.7-24.4-14.1-30.9 C204.6,703.8,191.3,700.6,173.9,700.6z'/%3E%3Cpath d='M295.1,799.4v-5l20.7-10.4V638.5l-20.7-10.4v-5h73.6v5l-21.6,10.4V784l21.6,10.4v5H295.1z'/%3E%3Cpath d='M407.5,799.4v-5L430,784V638.5l-22.5-10.4v-5h78.9v5L461,638.5v145.2h65.4l19.7-46.3h5v62H407.5z'/%3E%3Cpath d='M587.8,799.4v-5l22.9-10.4V638.5l-22.9-10.4v-5h79.8c21.1,0,38.9,3.4,53.5,10.2c14.6,6.8,25.8,16.3,33.5,28.3 c7.7,12.1,11.6,26,11.6,41.7c0,19.3-4.1,36.2-12.2,50.5c-8.1,14.4-19.7,25.6-34.7,33.5c-15,8-32.9,12-53.5,12H587.8z M661.1,638.8 h-19.4v144.9h21.6c22.7,0,40.2-6.7,52.4-20c12.2-13.3,18.3-31.1,18.3-53.4c0-23.1-6.3-40.8-18.8-53.1 C702.7,645,684.7,638.8,661.1,638.8z'/%3E%3Cpath d='M839.2,799.4v-5l28.2-10.4V638.8h-46l-16.6,38.4h-5v-54.2h166.5v54.2h-5l-16.9-38.4h-46V784l28.5,10.4v5H839.2z'/%3E%3Cpath d='M998.5,799.4v-5l22.5-10.4V638.5l-22.5-10.4v-5h137.7v45.3h-5l-16.3-29.6h-62.9v61.4h45.7l10.6-21.7h5v58.9h-5l-10.6-21.4 h-45.7v67.7h69.8l17.2-35.6h5v51.3H998.5z'/%3E%3Cpath d='M1183.6,799.4v-5l22.9-10.4V638.5l-22.9-10.4v-5h75.8c19.2,0,34.4,3.9,45.6,11.8c11.2,7.9,16.7,18.7,16.7,32.6 c0,10.1-3.1,18.7-9.2,26c-6.2,7.2-15,13-26.5,17.2l48.2,74l20.7,9.8v5h-49.1l-49.5-80.3h-19.1v64.6l20.7,10.7v5H1183.6z M1251.8,638.5h-14.7v65.2h16c11.3,0,20.1-2.9,26.6-8.8c6.5-5.9,9.7-13.9,9.7-23.9c0-10.7-3.3-18.8-9.9-24.2 C1272.9,641.3,1263.7,638.5,1251.8,638.5z'/%3E%3Cpath d='M1360.4,799.4v-5l16-8.5l69.5-164.4h16.3l68.9,163.7l18.5,9.1v5h-72.6v-5l21.9-9.1l-19.4-46.6h-64.5l-19.1,46.9l22.9,8.8v5 H1360.4z M1421.5,722.9h51.3l-26-62.7L1421.5,722.9z'/%3E%3Cpath d='M1577.7,799.4v-5l22.9-10.4V638.5l-22.9-10.4v-5h75.4c23.4,0,41.1,4,53.2,12.1c12.1,8.1,18.2,20.6,18.2,37.6 c0,10.5-3.2,19.6-9.7,27.4c-6.5,7.8-15.4,13.7-26.8,17.8c-11.4,4.1-24.5,6.1-39.3,6.1h-17.2V784l26.3,10.4v5H1577.7z M1631.5,638.8 v69.9h15.3c14,0,25-3.1,33.2-9.3c8.1-6.2,12.2-14.8,12.2-26c0-12.4-4.1-21.3-12.4-26.6c-8.2-5.4-19.9-8-34.9-8H1631.5z'/%3E%3Cpath d='M1759.6,799.4v-5l20.7-10.4V638.5l-20.7-10.4v-5h73.6v5l-21.6,10.4V784l21.6,10.4v5H1759.6z'/%3E%3Cpath d='M488.8,1076.9v-5l25.4-12.6V886.7l-25.4-12.6v-5h83v5l-24.7,12.6V961h101.7v-74.3l-25-12.6v-5h83v5l-25.4,12.6v172.6 l25.4,12.6v5h-83v-5l25-12.6v-80.9H547.1v80.9l24.7,12.6v5H488.8z'/%3E%3Cpath d='M842.3,1080.1c-14.4,0-27.3-2.4-38.7-7.1c-11.4-4.7-20.3-12.4-26.8-23c-6.5-10.6-9.7-24.6-9.7-42V916l-22.9-10.4v-5H821v5 L798.2,916v90.4c0,21,4.6,35.6,13.8,43.8c9.2,8.2,21.5,12.3,36.9,12.3c9,0,17.2-1.7,24.6-5.2c7.4-3.5,13.3-8.8,17.7-16.1 c4.4-7.2,6.6-16.5,6.6-27.9v-97.9l-26.3-9.8v-5h67v5l-22.2,10.1v92.9c0,17-3.1,30.8-9.4,41.3c-6.3,10.5-14.9,18.2-26,23 C869.7,1077.6,856.9,1080.1,842.3,1080.1z'/%3E%3Cpath d='M1032,1080.1c-11.3,0-21-1.2-29.3-3.5c-8.2-2.3-16.5-5.6-24.9-9.8L975,1024h5l16.3,29.3c5.6,4.4,11.6,7.5,17.8,9.1 c6.3,1.7,12.6,2.5,19.1,2.5c11.5,0,20.3-2.3,26.6-6.9c6.3-4.6,9.4-11.8,9.4-21.4c0-7.1-1.9-12.7-5.6-16.7c-3.8-4-9.4-7.7-16.9-11.2 c-7.5-3.5-16.8-7.8-27.9-13.1c-13.1-6.3-22.6-12.9-28.5-19.7c-5.8-6.8-8.8-16-8.8-27.6c0-9.2,2.7-17.7,8-25.5 c5.3-7.8,12.4-14,21.3-18.7c8.9-4.7,18.5-7.1,29-7.1c9,0,17.2,1.1,24.7,3.3c7.5,2.2,14.7,5.1,21.6,8.7l2.5,41.3h-5l-14.4-27.7 c-8.6-6.9-18.2-10.4-28.8-10.4c-10,0-17.9,2.5-23.6,7.4c-5.7,4.9-8.6,11.6-8.6,20c0,5.5,1.4,10,4.1,13.7c2.7,3.7,6.9,7.1,12.7,10.4 c5.7,3.3,13.1,7.1,22.1,11.5c11.7,5.7,21.1,10.9,28.2,15.7c7.1,4.8,12.3,10.2,15.5,16.2c3.2,6,4.9,13.5,4.9,22.5 c0,9.9-2.8,18.6-8.3,26.1c-5.5,7.6-13.1,13.5-22.7,17.8C1055,1077.9,1044.1,1080.1,1032,1080.1z'/%3E%3Cpath d='M1130.9,1076.9v-5l22.5-10.4V916l-22.5-10.4v-5h137.7v45.3h-5l-16.3-29.6h-62.9v61.4h45.7l10.6-21.7h5v58.9h-5l-10.6-21.4 h-45.7v67.7h69.8l17.2-35.6h5v51.3H1130.9z'/%3E%3Cpath d='M1350.1,1076.9v-5l28.2-10.4V916.3h-46l-16.6,38.4h-5v-54.2h166.5v54.2h-5l-16.9-38.4h-46v145.2l28.5,10.4v5H1350.1z'/%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Crect x='574.8' y='341' transform='matrix(-9.050514e-003 1 -1 -9.050514e-003 1152.4399 -90.0854)' width='92' height='369.9'/%3E%3Crect x='759.8' y='521.7' transform='matrix(-9.050514e-003 1 -1 -9.050514e-003 1340.7279 -273.3291)' class='st0' width='92' height='12'/%3E%3Cpolygon class='st1' points='811.3,566.6 812,488.8 909.6,520.3 909.5,536.9 '/%3E%3C/g%3E%3Cg%3E%3Crect x='620.4' y='171.6' transform='matrix(-0.5078 0.8615 -0.8615 -0.5078 1311.9777 -36.5205)' width='92' height='369.9'/%3E%3Crect x='779.7' y='444.4' transform='matrix(-0.5078 0.8615 -0.8615 -0.5078 1633.121 -32.1604)' class='st0' width='92' height='12'/%3E%3Cpolygon class='st2' points='811.1,486.9 850.6,419.9 919.4,496 910.9,510.3 '/%3E%3C/g%3E%3Cg%3E%3Crect x='744.7' y='47.4' transform='matrix(-0.8705 0.4921 -0.4921 -0.8705 1593.3475 45.5556)' width='92' height='369.9'/%3E%3Crect x='835.7' y='387.4' transform='matrix(-0.8705 0.4921 -0.4921 -0.8705 1842.8378 301.9135)' class='st0' width='92' height='12'/%3E%3Cpolygon class='st3' points='850.7,417.6 918.4,379.4 940,479.6 925.5,487.8 '/%3E%3C/g%3E%3Cg%3E%3Crect x='914.3' y='2.1' transform='matrix(-1 -9.050514e-003 9.050514e-003 -1 1918.9941 382.6982)' width='92' height='369.9'/%3E%3Crect x='912.7' y='365.9' transform='matrix(-1 -9.050514e-003 9.050514e-003 -1 1913.9727 752.5562)' class='st0' width='92' height='12'/%3E%3Cpolygon class='st4' points='919.7,377.5 997.5,378.2 966.1,475.8 949.4,475.6 '/%3E%3C/g%3E%3Cg%3E%3Crect x='1084' y='47.6' transform='matrix(-0.8615 -0.5078 0.5078 -0.8615 1985.3662 1006.7153)' width='92' height='369.9'/%3E%3Crect x='990.1' y='385.9' transform='matrix(-0.8615 -0.5078 0.5078 -0.8615 1729.6293 1255.6011)' class='st0' width='92' height='12'/%3E%3Cpolygon class='st5' points='999.6,377.2 1066.6,416.7 990.6,485.5 976.2,477 '/%3E%3C/g%3E%3Cg%3E%3Crect x='1208.1' y='171.9' transform='matrix(-0.4921 -0.8705 0.8705 -0.4921 1560.7517 1624.1578)' width='92' height='369.9'/%3E%3Crect x='1047.1' y='441.8' transform='matrix(-0.4921 -0.8705 0.8705 -0.4921 1241.2822 1619.8204)' class='st0' width='92' height='12'/%3E%3Cpolygon class='st6' points='1068.9,416.9 1107.2,484.6 1006.9,506.2 998.7,491.6 '/%3E%3C/g%3E%3Cg%3E%3Crect x='1259.8' y='342.8' transform='matrix(9.050514e-003 -1 1 9.050514e-003 766.3199 1828.7666)' width='92' height='369.9'/%3E%3Crect x='1074.9' y='520.1' transform='matrix(9.050514e-003 -1 1 9.050514e-003 584.7271 1642.1752)' class='st0' width='92' height='12'/%3E%3Cpolygon class='st7' points='1115.4,487.1 1114.7,564.9 1017.1,533.5 1017.2,516.8 '/%3E%3C/g%3E%3Cpath class='st8' d='M1121.2,529.4c0,90.2-76.5,79.5-163.4,79.5s-151.6,10.7-151.6-79.5s70.5-163.2,157.5-163.2 S1121.2,439.3,1121.2,529.4z'/%3E%3C/g%3E%3C/svg%3E");
	background-repeat: no-repeat;
}

.header{
	grid-column-start: 2;
	grid-column-end: 5;
	background-color:#375E97;
}

/* logo end ||| NAV start */

.navbar{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-auto-rows: auto;
	text-align: center;
	align-items: center
	background-color:#FB6542;
	margin-left: 5%;
	margin-right: 3%;

}

.navTextStyle, h1{ 
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 35px;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	/*
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; 
	*/
}

/* Adding with js to get navbar to stick */
.naVStickyClass{
	position: sticky;
	top: 0;
}

/* NAV end ||| MAINpage start */

/*.gridmain1{
	grid-column-start: 1;
	grid-column-end: 6;
	background-color:red;
	height: 400px;
	margin-left: 7%;
	margin-right: 7%;
}
*/

.gridmain1{
	grid-column-start: 1;
	grid-column-end: 2;
	background-color:#FB6542;

}
.gridmain2{
	grid-column-start: 2;
	grid-column-end: 5;
	background-color: #FFBB00;
	height: ´100%;

}
.gridmain3{
	grid-column-start: 5;
	grid-column-end: 6;
	background-color:#FB6542;

}

h1{
	text-align: center;
}

.textbox{
	margin:auto;
	text-align: center;
	padding:5% 0 15% 0;
	width: 75%;
	height: 100%;

}